@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700,300");
@import url("https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700,300");

body {
  margin: 0;
  font-family: "Ubuntu" !important;
  background-color: #f0ffff;
  /* -webkit-font-smoothing: antialiased; */
  /* -moz-osx-font-smoothing: grayscale; */
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.map {
  position: absolute;
  top: 60px;
  height: calc(100vh - 90px) !important;
  width: 100vw !important;
  margin: 0px !important;
  padding: 0px !important;
}

.mapboxgl-popup-close-button {
  /* display: None */
  margin-right: 10px;
  margin-top: 2px;
}

/* .mapboxgl-popup-content {
    position: relative;
    font-family: "Ubuntu";
    background: #f0ffff !important;
    opacity: 0.7;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5) !important;
    padding: 20px important;
    margin: 0px;
    pointer-events: auto;
} */

.navbar,
.navbar-default,
.footer {
  font-family: "Ubuntu";
  color: #f0ffff;
  background-color: #f0ffff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.carddeck {
  margin-top: 25px !important;
  margin-left: 12.5px !important;
  margin-right: 12.5px !important;
}

.cardresume {
  display: table-cell;
}

.cardresume img {
  float: left;
}

.mapboxgl-popup-content,
.menu,
.card {
  font-family: "Ubuntu";
  background-color: #ffffff !important;
  border: 0px !important;
  border-radius: 10px !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
}

.dropdownmenu {
  font-family: "Ubuntu";
  background-color: #ffffff !important;
  border: 0px !important;
  border-radius: 10px !important;
  padding: 0px !important;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
}

.cardheader {
  font-family: "Ubuntu";
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0px !important;
  border-radius: 10px 10px 0px 0px !important;
  background-color: #ebe8e8 !important;
}

.cardbody {
  border-radius: 0px 0px 10px 10px !important;
  padding: 10px !important;
}

.cardbodynopad {
  border-radius: 0px 0px 10px 10px !important;
  padding: 0px !important;
}

.main {
  background-color: #f0ffff;
  min-height: calc(100vh - 123px) !important;
}

.margin {
  height: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-tags {
    position: relative;
    padding: 6px 0 0 6px;
    border: 0px solid #D1D1D1;
    border-radius: 10px;

    /* shared font styles */
    font-size: 1em;
    line-height: 1.2;

    /* clicking anywhere will focus the input */
    cursor: text;
  }

  .react-tags.is-focused {
    border-color: rgb(177, 177, 177);
  }

  .react-tags__selected {
    display: inline;
  }

  .react-tags__selected-tag {
    display: inline-block;
    box-sizing: border-box;
    margin: 0 6px 6px 0;
    padding: 6px 8px;
    border: 0px solid #D1D1D1;
    border-radius: 10px;
    background: #f5d300;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }

  .react-tags__selected-tag:after {
    content: '\2715';
    color: rgb(0, 0, 0);
    margin-left: 8px;
  }

  .react-tags__selected-tag:hover,
  .react-tags__selected-tag:focus {
    border-color: rgb(177, 177, 177);
  }

  .react-tags__search {
    display: inline-block;

    /* match tag layout */
    padding: 7px 2px;
    margin-bottom: 6px;

    /* prevent autoresize overflowing the container */
    max-width: 100%;
  }

  @media screen and (min-width: 30em) {

    .react-tags__search {
      /* this will become the offsetParent for suggestions */
      position: relative;
    }

  }

  .react-tags__search-input {
    /* prevent autoresize overflowing the container */
    max-width: 100%;

    /* remove styles and layout from this element */
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;

    /* match the font styles */
    font-size: inherit;
    line-height: inherit;
  }

  .react-tags__search-input::-ms-clear {
    display: none;
  }

  .react-tags__suggestions {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
  }

  @media screen and (min-width: 30em) {

    .react-tags__suggestions {
      width: 200px;
    }

  }

  .react-tags__suggestions ul {
    margin: 4px -1px;
    padding: 0;
    list-style: none;
    background: #ffffff !important;
    border: 0px !important;
    border-radius: 10px !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
  }

  .react-tags__suggestions li {
    padding: 6px 8px;
    border: 0px !important;
    border-radius: 10px !important;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important;
  }

  .react-tags__suggestions li mark {
    /* text-decoration: underline; */
    background: none;
    font-weight: 500;
  }

  .react-tags__suggestions li:hover {
    cursor: pointer;
    background: #eee;
  }

  .react-tags__suggestions li.is-active {
    background: #b7cfe0;
  }

  .react-tags__suggestions li.is-disabled {
    opacity: 0.5;
    cursor: auto;
  }