@font-face {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 400;
  src: url(../assets/fonts/ubuntu400.woff2) format("woff2");
  font-display: swap;
}

.full-page-loader {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.full-page-loader > img {
  animation: 1.8s infinite heartbeat;
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.05);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

body {
  margin: 0;
  font-family: Ubuntu !important;
  background-color: #f0ffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.map {
  position: absolute;
  top: 60px;
  height: calc(100vh - 90px) !important;
  width: 100vw !important;
  margin: 0px !important;
  padding: 0px !important;
}

.select > * {
  border-radius: 0px !important;
  /* border: 1px !important; */
}

.form-control {
  border-radius: 0px !important;
  /* border: 1px !important; */
}

.mapboxgl-popup-close-button {
  /* display: None */
  margin-right: 10px;
  margin-top: 2px;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg width='29' height='29' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg' fill='%23333'%3E%3Cpath d='M10 4C9 4 9 5 9 5v.1A5 5 0 005.1 9H5s-1 0-1 1 1 1 1 1h.1A5 5 0 009 14.9v.1s0 1 1 1 1-1 1-1v-.1a5 5 0 003.9-3.9h.1s1 0 1-1-1-1-1-1h-.1A5 5 0 0011 5.1V5s0-1-1-1zm0 2.5a3.5 3.5 0 110 7 3.5 3.5 0 110-7z'/%3E%3Ccircle cx='10' cy='10' r='2'/%3E%3C/svg%3E");
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate:disabled {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0D%0A%20%20%3Cpath%20style%3D%27fill%3A%23aaa%3B%27%20d%3D%27M10%204C9%204%209%205%209%205L9%205.1A5%205%200%200%200%205.1%209L5%209C5%209%204%209%204%2010%204%2011%205%2011%205%2011L5.1%2011A5%205%200%200%200%209%2014.9L9%2015C9%2015%209%2016%2010%2016%2011%2016%2011%2015%2011%2015L11%2014.9A5%205%200%200%200%2014.9%2011L15%2011C15%2011%2016%2011%2016%2010%2016%209%2015%209%2015%209L14.9%209A5%205%200%200%200%2011%205.1L11%205C11%205%2011%204%2010%204zM10%206.5A3.5%203.5%200%200%201%2013.5%2010%203.5%203.5%200%200%201%2010%2013.5%203.5%203.5%200%200%201%206.5%2010%203.5%203.5%200%200%201%2010%206.5zM10%208.3A1.8%201.8%200%200%200%208.3%2010%201.8%201.8%200%200%200%2010%2011.8%201.8%201.8%200%200%200%2011.8%2010%201.8%201.8%200%200%200%2010%208.3z%27%20%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-active {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0D%0A%20%20%3Cpath%20style%3D%27fill%3A%2333b5e5%3B%27%20d%3D%27M10%204C9%204%209%205%209%205L9%205.1A5%205%200%200%200%205.1%209L5%209C5%209%204%209%204%2010%204%2011%205%2011%205%2011L5.1%2011A5%205%200%200%200%209%2014.9L9%2015C9%2015%209%2016%2010%2016%2011%2016%2011%2015%2011%2015L11%2014.9A5%205%200%200%200%2014.9%2011L15%2011C15%2011%2016%2011%2016%2010%2016%209%2015%209%2015%209L14.9%209A5%205%200%200%200%2011%205.1L11%205C11%205%2011%204%2010%204zM10%206.5A3.5%203.5%200%200%201%2013.5%2010%203.5%203.5%200%200%201%2010%2013.5%203.5%203.5%200%200%201%206.5%2010%203.5%203.5%200%200%201%2010%206.5zM10%208.3A1.8%201.8%200%200%200%208.3%2010%201.8%201.8%200%200%200%2010%2011.8%201.8%201.8%200%200%200%2011.8%2010%201.8%201.8%200%200%200%2010%208.3z%27%20%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-active-error {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0D%0A%20%20%3Cpath%20style%3D%27fill%3A%23e58978%3B%27%20d%3D%27M10%204C9%204%209%205%209%205L9%205.1A5%205%200%200%200%205.1%209L5%209C5%209%204%209%204%2010%204%2011%205%2011%205%2011L5.1%2011A5%205%200%200%200%209%2014.9L9%2015C9%2015%209%2016%2010%2016%2011%2016%2011%2015%2011%2015L11%2014.9A5%205%200%200%200%2014.9%2011L15%2011C15%2011%2016%2011%2016%2010%2016%209%2015%209%2015%209L14.9%209A5%205%200%200%200%2011%205.1L11%205C11%205%2011%204%2010%204zM10%206.5A3.5%203.5%200%200%201%2013.5%2010%203.5%203.5%200%200%201%2010%2013.5%203.5%203.5%200%200%201%206.5%2010%203.5%203.5%200%200%201%2010%206.5zM10%208.3A1.8%201.8%200%200%200%208.3%2010%201.8%201.8%200%200%200%2010%2011.8%201.8%201.8%200%200%200%2011.8%2010%201.8%201.8%200%200%200%2010%208.3z%27%20%2F%3E%0D%0A%3C%2Fsvg%3E");
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-background {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%2333b5e5%3B%27%20d%3D%27M%2010%2C4%20C%209%2C4%209%2C5%209%2C5%20L%209%2C5.1%20C%207.0357113%2C5.5006048%205.5006048%2C7.0357113%205.1%2C9%20L%205%2C9%20c%200%2C0%20-1%2C0%20-1%2C1%200%2C1%201%2C1%201%2C1%20l%200.1%2C0%20c%200.4006048%2C1.964289%201.9357113%2C3.499395%203.9%2C3.9%20L%209%2C15%20c%200%2C0%200%2C1%201%2C1%201%2C0%201%2C-1%201%2C-1%20l%200%2C-0.1%20c%201.964289%2C-0.400605%203.499395%2C-1.935711%203.9%2C-3.9%20l%200.1%2C0%20c%200%2C0%201%2C0%201%2C-1%20C%2016%2C9%2015%2C9%2015%2C9%20L%2014.9%2C9%20C%2014.499395%2C7.0357113%2012.964289%2C5.5006048%2011%2C5.1%20L%2011%2C5%20c%200%2C0%200%2C-1%20-1%2C-1%20z%20m%200%2C2.5%20c%201.932997%2C0%203.5%2C1.5670034%203.5%2C3.5%200%2C1.932997%20-1.567003%2C3.5%20-3.5%2C3.5%20C%208.0670034%2C13.5%206.5%2C11.932997%206.5%2C10%206.5%2C8.0670034%208.0670034%2C6.5%2010%2C6.5%20Z%27%20%2F%3E%0A%3C%2Fsvg%3E");
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-background-error {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D%270%200%2020%2020%27%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%3E%0A%20%20%3Cpath%20style%3D%27fill%3A%23e54e33%3B%27%20d%3D%27M%2010%2C4%20C%209%2C4%209%2C5%209%2C5%20L%209%2C5.1%20C%207.0357113%2C5.5006048%205.5006048%2C7.0357113%205.1%2C9%20L%205%2C9%20c%200%2C0%20-1%2C0%20-1%2C1%200%2C1%201%2C1%201%2C1%20l%200.1%2C0%20c%200.4006048%2C1.964289%201.9357113%2C3.499395%203.9%2C3.9%20L%209%2C15%20c%200%2C0%200%2C1%201%2C1%201%2C0%201%2C-1%201%2C-1%20l%200%2C-0.1%20c%201.964289%2C-0.400605%203.499395%2C-1.935711%203.9%2C-3.9%20l%200.1%2C0%20c%200%2C0%201%2C0%201%2C-1%20C%2016%2C9%2015%2C9%2015%2C9%20L%2014.9%2C9%20C%2014.499395%2C7.0357113%2012.964289%2C5.5006048%2011%2C5.1%20L%2011%2C5%20c%200%2C0%200%2C-1%20-1%2C-1%20z%20m%200%2C2.5%20c%201.932997%2C0%203.5%2C1.5670034%203.5%2C3.5%200%2C1.932997%20-1.567003%2C3.5%20-3.5%2C3.5%20C%208.0670034%2C13.5%206.5%2C11.932997%206.5%2C10%206.5%2C8.0670034%208.0670034%2C6.5%2010%2C6.5%20Z%27%20%2F%3E%0A%3C%2Fsvg%3E");
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-geolocate.mapboxgl-ctrl-geolocate-waiting {
  -webkit-animation: mapboxgl-spin 2s infinite linear;
  -moz-animation: mapboxgl-spin 2s infinite linear;
  -o-animation: mapboxgl-spin 2s infinite linear;
  -ms-animation: mapboxgl-spin 2s infinite linear;
  animation: mapboxgl-spin 2s infinite linear;
}

/* .mapboxgl-popup-content {
    position: relative;
    font-family: "Ubuntu";
    font-display: swap;
    background: #f0ffff !important;
    opacity: 0.7;
    border-radius: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5) !important;
    padding: 20px important;
    margin: 0px;
    pointer-events: auto;
} */

.waiting {
  min-height: 100px !important;
}

.navbar,
.navbar-default,
.footer {
  font-family: "Ubuntu";
  font-display: swap;
  color: #f0ffff;
  background-color: #f0ffff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card-deck {
  margin-top: 25px !important;
  margin-left: 12.5px !important;
  margin-right: 12.5px !important;
}

.cardresume {
  display: table-cell;
}

.cardresume img {
  float: left;
}

.mapboxgl-popup-content,
.menu,
.card {
  font-family: "Ubuntu";
  font-display: swap;
  background-color: #ffffff !important;
  border: 0px !important;
  border-radius: 0px !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
}

.dropdownmenu {
  font-family: "Ubuntu";
  font-display: swap;
  background-color: #f0f5f5 !important;
  border: 0px !important;
  border-radius: 0px !important;
  padding: 0px !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
}

.modal-content {
  width: 100% !important;
  height: 100% !important;
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px 0px 0px 0px !important;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2) !important;
}

.modal-header {
  font-family: "Ubuntu";
  font-display: swap;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px 0px 0px 0px !important;
  background-color: rgb(219, 220, 221) !important;
}

.modal-title {
  font-family: "Ubuntu";
  font-display: swap;
  text-align: center;
  border: 0px !important;
  padding: 0px !important;
  margin: 10px !important;
}

.modal-footer {
  display: inline !important;
  padding: 1px 1px;
  font-family: "Ubuntu";
  font-display: swap;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0px !important;
  margin: 0px 0px -5px 0px !important;
  border-radius: 0px 0px 0px 0px !important;
  background-color: rgb(219, 220, 221) !important;
}

.modal-body {
  border-radius: 0px 0px 0px 0px !important;
  padding: 10px !important;
  width: 100%;
  height: 100% !important;
  max-width: calc(100vw - 30px) !important;
  max-height: calc(100vh - 160px) !important;
}

.close {
  color: rgb(219, 220, 221);
  background-color: rgb(219, 220, 221);
  border-color: rgb(219, 220, 221);
  border: 0px !important;
  padding: 0px !important;
  margin: 7.5px !important;
  position: absolute !important;
  top: 0px !important;
  right: 5px !important;
}

.btn-group {
  border-radius: 0px 0px 0px 0px !important;
  margin: 5px 0px 5px 0px !important;
}

.overlaybutton {
  border-radius: 0px 0px 0px 0px !important;
  margin: 0px !important;
}

.btn {
  border-radius: 0px 0px 0px 0px !important;
}

.btn-fullscreen {
  color: rgb(219, 220, 221);
  background-color: rgb(219, 220, 221);
  border-color: rgb(219, 220, 221);
  border: 0px !important;
  padding: 0px !important;
  margin: 7.5px !important;
  position: absolute !important;
  top: 0px !important;
  right: 5px !important;
}

.card-header {
  font-family: "Ubuntu";
  font-display: swap;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0px !important;
  padding: 0px !important;
  margin: 0px !important;
  border-radius: 0px 0px 0px 0px !important;
  background-color: #ebe8e8 !important;
}

.card-title {
  font-family: "Ubuntu";
  font-display: swap;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0px !important;
  padding: 0px !important;
  margin: 10px !important;
  border-radius: 0px 0px 0px 0px !important;
  background-color: #ebe8e8 !important;
}

.card-footer {
  font-family: "Ubuntu";
  font-display: swap;
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  border: 0px !important;
  padding: 10px !important;
  margin: 0px !important;
  border-radius: 0px 0px 0px 0px !important;
  background-color: #ebe8e8 !important;
}

.card-body {
  border-radius: 0px 0px 0px 0px !important;
  padding: 10px !important;
}

.cardbodynopad {
  border-radius: 4px !important;
  padding: 0px !important;
}

.mainframe {
  background-color: #f0ffff;
  min-height: calc(100vh - 123px) !important;
}

.margin {
  height: 30px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.react-tags {
  position: relative;
  padding: 5px 0 0 5px;
  border: 0px solid #d1d1d1;
  border-radius: 0px;

  /* shared font styles */
  font-size: 1em;
  line-height: 1.2;

  /* clicking anywhere will focus the input */
  cursor: text;
}

.react-tags.is-focused {
  border-color: rgb(177, 177, 177);
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  display: inline-block;
  box-sizing: border-box;
  margin: 0 5px 5px 0;
  padding: 10px 10px;
  border: 0px solid #d1d1d1;
  border-radius: 0px;
  background: #f5d300;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__selected-tag:after {
  content: "\2715";
  color: rgb(0, 0, 0);
  margin-left: 8px;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: rgb(177, 177, 177);
}

.react-tags__search {
  display: inline-block;

  /* match tag layout */
  padding: 7px 2px;
  margin-bottom: 6px;

  /* prevent autoresize overflowing the container */
  max-width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__search {
    /* this will become the offsetParent for suggestions */
    position: relative;
  }
}

.react-tags__search-input {
  /* prevent autoresize overflowing the container */
  max-width: 100%;
  width: 240px !important;

  /* remove styles and layout from this element */
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;

  /* match the font styles */
  font-size: inherit;
  line-height: inherit;
}

.react-tags__search-input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  z-index: 10;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__suggestions {
    width: 240px;
  }
}

.react-tags__suggestions ul {
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  background: #ffffff !important;
  border: 0px !important;
  border-radius: 0px !important;
}

.react-tags__suggestions li {
  padding: 6px 8px;
  border: 0px !important;
  border-radius: 0px !important;
  /* box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2) !important; */
}

.react-tags__suggestions li mark {
  /* text-decoration: underline; */
  background: none;
  font-weight: 500;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  background: #eee;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  opacity: 0.5;
  cursor: auto;
}

.carousel {
  width: 100% !important;
  height: 100% !important;
}

.carousel-item > img {
  width: 100% !important;
  height: 100% !important;
}

.carousel-indicators li {
  background-color: rgb(219, 220, 221) !important;
}
